:root {
  --violet: hsl(263, 55%, 52%);
  --gray: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  --light-grey: hsl(0, 0%, 81%);
  --grey-blue: hsl(210, 46%, 95%);
  --grey-blue-50: hsla(210, 46%, 95%, 0.5);
  --grey-blue-70: hsla(210, 46%, 95%, 0.7);

  --font-family: 'Barlow Semi Condensed', sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: var(--font-family);
  background-color: var(--grey-blue);
}

h2{
  font-size: 16px;
  color: var(--grey-blue-70);
}

h3{
  color: var(--grey-blue);
}

h4{
  color: var(--grey-blue-50)
}